BOT_PORT=3005
DATABASE_URL=mysql://root@localhost:3306/skytravel_test

TELEGRAM_BOT_TOKEN=
TELEGRAM_INFO_BOT_TOKEN=
OWNER_CHAT_ID=
OWNER_CHAT_IDS=
CHANNEL_ID=@your_channel


IG_VERIFY_TOKEN=change-me-random-string
META_APP_SECRET=
META_PAGE_TOKEN=
IG_USER_ID=

MANAGER_CONTACT=@hakkudan
CHANNEL_USERNAME=skytravel_tours
LOG_LEVEL=info
TELEGRAM_POLLING=true
